html,
body {
  margin: 0 0 0 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  height: 100%;
  margin: -10px;
  font-family: Lato;
  background-color: rgb(19, 119, 172);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Header {
  background-color: rgb(62, 167, 232);
  width: 100vw;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Header-Logo-Container {
  height: 90%;
  width: 120px;
  margin-right: 100px;
  margin-left: 70px;
}

.Header-Logo {
  height: 75px;
  margin-top: 15px;
}

.Header-Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px 25px 15px 200px;
}

.Header-Social-Buttons {
  height: 22px;
}

.Header-Social-Media {
  padding-left: 50px;
  margin: 20px;
}

.Header-Donate {
  color: white;
  background-color: #f26c6c;
  border: 2px solid #f43d3d;
  width: 130px;
  height: 45px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-Donate-Text {
  font-family: Lato;
  color: white;
  font: weight 400;
  margin-left: 5px;
  font-size: 17px;
  margin-top: -2px;
}

.Header-Cash {
  width: 18px;
  height: 18px;
  margin-left: -5px;
}

.Splash-Container {
  height: 600px;
}

.Splash-Container-Background {
  background: url("./Assets/splash.svg");
  height: 70%;
  box-sizing: border-box;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  min-width: 857px;
}

.Splash-Grid {
  display: flex;
}

.Splash-Column-Left,
.Splash-Column-Right {
  flex: 50%;
}

.Splash-Column-Left {
  display: flex;
  justify-content: center;
}

.Splash-Person {
  margin: 20px 0 0 50px;
  height: 60%;
}

.Splash-Header {
  font-size: 50px;
  color: #0e75b0;
  width: 400px;
}

.Splash-Header-Sub {
  color: #38a6e8;
}

.Splash-Form {
  display: flex;
  flex-direction: row;
}

.Splash-Form-Container {
  height: 135px;
  width: 400px;
  background-color: rgba(250, 250, 250, 0.932);
  color: #38a6e8;
  display: flex;
  box-shadow: 2px -2px 2px rgba(234, 234, 234, 0.897);
  border-radius: 2px;
  margin-top: -25px;
}

.Splash-Form-Content {
  width: 90%;
  margin-left: 20px;
  margin-top: -5px;
}

.Splash-Form-Header {
  font-size: 22px;
}
.Splash-Form-Subheader {
  color: black;
  font-size: 12px;
  margin-top: -10px;
}
.Splash-Form-Email,
.Splash-Form-Zip {
  border: 1px solid rgb(234, 234, 234);
  height: 30px;
}

.Splash-Form-Email {
  margin-left: -5px;
  width: 160px;
  padding-left: 10px;
}

.Splash-Form-Zip {
  width: 80px;
  margin-left: 5px;
  padding-left: 10px;
}

.Splash-Form-Button {
  border: 1px solid #f2a074;
  background-color: #f99c69;
  color: white;
  margin-left: 10px;
  width: 90px;
  border-radius: 5px;
  height: 34.5px;
}

.Footer {
  background-color: rgb(19, 119, 172);
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  color: white;
  font-size: 10px;
  min-width: 100vw;
  width: 150vw;
}

.Footer-Logo {
  margin-top: -100px;
}

.Footer-Text {
  text-align: center;
  margin-top: 10px;
}

.Privacy-Policy {
  color: white;
  text-decoration: underline;
}

.Footer-Box {
  border: 0.5px solid rgba(255, 255, 255, 0.564);
  height: 20px;
  width: 250px;
  margin-top: -9px;
}

@media screen and (max-width: 400px) {
  Footer {
    padding-bottom: 500px;
  }
}
